<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
<body>
  {% include navigation.html %}
  <div>
    <h1 class="stroke">Posts</h1>
  </div>
  
  <div class="post-feed">
  {% for post in site.posts %}
  <div class="post">
    <h1><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h1>  
    <small>{{post.date | date: "%B %d, %Y"}}</small>
    <p>{{ post.content }}</p>
  </div>
  {% endfor %}
</div>
</body>
</html>

